.ques-option{
    background-color: rgb(215, 215, 215);
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 40px;
    padding: 20px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, #282731b7 0px 8px 32px;
    border-radius: 10px;
}
.option-btn{
    width: 80%;
    margin-left: 5%;
    margin-bottom: 30px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.option-btn:hover{
    background-color: rgb(15, 15, 15);
    color: white;
}
.corr-ans-btn{
    border: none;
    background-color: rgb(215, 215, 215);
    
    width: 40px;
}